Checks: >
  -*,
  modernize-*,
  performance-*,
  readability-*,
  bugprone-*,
  misc-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -readability-magic-numbers
WarningsAsErrors: "*"