name: CI Workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: write
  packages: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/future-re/ubuntu22.04-clang20-boost1.89-gtest1.17:0.2

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache ccache
        uses: actions/cache@v3
        with:
          path: /home/runner/.ccache
          key: ${{ runner.os }}-ccache-${{ hashFiles('**/CMakeLists.txt','**/*.cpp','**/*.c','**/*.h','**/*.cppm') }}
          restore-keys: |
            ${{ runner.os }}-ccache-

      - name: Show tool versions
        run: |
          uname -a
          cmake --version || true
          clang++ --version || true

      - name: Configure project
        env:
          CCACHE_DIR: /home/runner/.ccache
        run: |
          cmake -B build -G Ninja \
            -DCMAKE_C_COMPILER=clang-20 \
            -DCMAKE_CXX_COMPILER=clang++-20 \
            -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
            -DCMAKE_CXX_FLAGS="--gcc-toolchain=/usr -stdlib=libstdc++" \
            -DCMAKE_EXE_LINKER_FLAGS="-stdlib=libstdc++" \
            -DCMAKE_SHARED_LINKER_FLAGS="-stdlib=libstdc++" \
            -DCMAKE_CXX_STANDARD=23

      - name: Build project
        run: cmake --build build -j$(nproc)

      - name: Run tests
        run: ctest --test-dir build --output-on-failure

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: |
            build/
            test/*.profraw
          retention-days: 30