name: Docs

on:
  push:
    paths:
      - 'mkdocs/**'
      - 'docs/**'
    tags:
      - 'v*.*.*'
  pull_request:
    paths:
      - 'mkdocs/**'
      - 'docs/**'
  workflow_dispatch: {}

permissions:
  contents: read
  pages: write

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Set Docker image tag env
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "DOCKER_IMAGE_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install MkDocs
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs mkdocs-material mkdocs-static-i18n

      - name: Build site
        run: |
          cd mkdocs
          mkdocs build -d site

      - name: Upload site artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: mkdocs/site

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
